@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
$bg-img: url('../assets/corkboard.jpg');

body {
  background-color: antiquewhite;
  text-align: center;
  margin-top: 100px;
  background-image: $bg-img;
}

#corkboard {
  display: flex;
  margin: 2em auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
