@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
$bg-img: url('../assets/corkboard.jpg');

body {
  background-color: antiquewhite;
  text-align: center;
  margin-top: 100px;
  background-image: $bg-img;
  font-family: 'Montserrat', sans-serif;
}

#corkboard {
  display: flex;
  margin: 2em auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#title-container, #board-name {
  margin-bottom: 2em;
}

h1 {
  display: inline;
  padding: 5px 7px;
  background-color: white;
  border-radius: .2em;
}
